
.dark-theme .game {
    background: #202020;
}

.dark-theme .host-controls {
    background: rgba(54, 55, 57, 0.78);
    box-shadow: 0 0 4px 1px #050505;
}

body.dark-theme {
    color: #cccaca;
}

.spacer {
    flex-grow: 1;
}

.aligner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-list {
    text-align: center;
    filter: drop-shadow(0px 0px 2px #969696
    );
}

.dark-theme .player-list {
    filter: drop-shadow(0px 0px 2px #050505
    );
}

.spectator.self, .player.self {
    font-weight: bold;
}

.player.current:before {
    content: "➜ ";
    line-height: 0;
}

.player.offline {
    color: #adadad;
}

.teamsLocked .spectators {
    cursor: default;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    cursor: default;
    text-align: right;
    z-index: 1;
    box-shadow: 0 0 4px 1px #969696;
}

.game-board {
    justify-content: space-around;
    height: 100%;
    user-select: none;
}

.player-host-controls {
    display: none;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: inline-block;
}

.spectator:hover .player-host-controls, .spectator:focus .player-host-controls {
    display: inline-block;
}

.player .host-button, .command .host-button, .spectator .host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.player .score {
    border: 2px solid;
    display: inline-flex;
    margin-right: 11px;
    padding: 0px 4px;
    line-height: 16px;
    align-items: center;
    border-radius: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.kicked {
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

body {
    color:#444;
    margin: 0;
    background: linear-gradient(to right, rgb(238, 244, 236) 0%, #fff5e9 100%);
    background: #e5efde;
    -webkit-user-drag: none;
}

@media (min-width: 768px) and (max-width: 959px) {
}

@media (max-width: 767px) {
}

.captcha-solved #captcha-container {
    display: none;
}

.little-controls input {
    width: 39px;
    background: transparent;
    border: 1px solid;
    color: #cccaca;
    padding: 2px;
    margin: 3px;
}

.start-game-buttons div {
    display: inline-block;
    padding: 17px;
}

.little-controls div {
    display: inline-block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #f4e2e0;
}

.dark-theme .settings-button:hover {
    background: #363739;
}

.level-selected {
    background: #f9e7e5;
}

.dark-theme .level-selected {
    background: #484848;
}

.little-controls input {
    color: black;
}

.dark-theme .little-controls input {
    color: #cccaca;
}

.start-game-buttons i, .custom-game-button i {
    vertical-align: bottom;
    margin-right: 3px;
}

.little-controls i {
    vertical-align: middle;
    margin-right: 2px;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons, .host-controls:focus .side-buttons {
    display: inline-block;
}

.start-game-title {
    text-align: center;
    padding: 7px;
    border-top: 1px solid;
    margin-top: 4px;
    padding-bottom: 3px;
}

.little-controls {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 6px;
    height: 25px;
}

.side-buttons * {
    margin-right: 2px;
}

.game-settings .value {
    vertical-align: middle;
    padding: 4.5px 0;
    padding-right: 27px;
    display: inline-block;
}

.host-controls-menu {
    display: none;
    margin-bottom: 9px;
}

.host-controls:hover .host-controls-menu, .host-controls:focus .host-controls-menu {
    display: block;
}

.start-game-buttons {
    color: gray;
}

.start-game-buttons .settings-button {
    color: black;
}

.dark-theme .start-game-buttons {
    color: #909090;
}

.dark-theme .start-game-buttons .settings-button {
    color: #cccaca;
}

.settings-hover-button {
    padding: 2px;
}

.main-row {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.status-bar-wrap {margin: 40px 0;}

.status-bar {
    background: rgba(255, 252, 245, 0.58);
    /* padding: 8px; */
    display: flex;
    flex-direction: column;
    height: 220px;
    /* overflow: hidden; */
    box-shadow: 0 0 4px 1px #969696;
    text-align: center;
}

.dark-theme .status-bar {
    background: #363739;
    box-shadow: 0 0 4px 1px #050505;
}

.status-bar .title {
    font-size: 40px;
    padding: 0 25px;
}

.status-bar .subtitle {
    padding-bottom: 10px;
    line-height: 28px;
}

button.ready {
    margin: 0 5px;
    cursor: pointer;
    background: transparent;
    border: 2px solid;
    color: inherit;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
}

.hint-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.master-target {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.avatar-arrow {
    filter: drop-shadow(0px 0px 2px #969696 );
}

.dark-theme .avatar-arrow {
    filter: drop-shadow(0px 0px 2px #050505 );
}

.avatar-arrow .avatar {
}

.closed-word {
    height: 140px;
    width: 260px;
    background: white;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px double green;
    box-sizing: border-box;
}

.closed-word.mistake {
    text-decoration: line-through;
    border-color: darkred;
    opacity: 0.8;
}

#timer-progress-bar {
    background-color: #82ec5a;
    height: 10px;
    width: 100%;
    transition: width 1s linear;
}

.dark-theme #timer-progress-bar {
    background-color: #7ace5a;
}

.join-button {
    cursor: pointer;
}

.join-button .player-name {
    text-decoration: underline;
}

.spectator-placeholder {
    height: 42px;
}

.spectators-section {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.dark-theme .spectators {
    background: rgba(63, 63, 62, 0.78);
}

.spectators {
    /* display: inline-block; */
    height: 20px;
    padding: 4px 6px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    white-space: nowrap;
    margin-left: 5px;
    line-height: 20px;
}

.desk-cards-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#avatar-input {
    display: none;
}

.player {
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    display: inline-flex;
    margin: 6px 1px;
    clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0 100%, 10px 50%);
}


.player {
    background: white;
    height: 32px;
    align-items: center;
    /* border: 2px solid #969696; */
    overflow: hidden;
}

.dark-theme .player {
    background: #363739;
}

.player.ready {
    border-color: #97c377;
}

.avatar {
    background-size: cover;
    background-position: center;
    /* border-radius: 25px; */
    background-repeat: no-repeat;
}

.dark-theme .avatar {
    color: #fcfcfc;
}

.player .avatar {
}


.player-avatar-section {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.dark-theme .player-avatar-section {
    background: #363739;
}

.player-name-section {
    display: inline-flex;
    width: 147px;
    text-align: left;
    align-items: center;
    height: 100%;
}

.avatar {
    width: 44px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0 100%, 10px 50%);
}

.avatar-stub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-track-bar .avatar {
    width: 42px;
    height: 42px;
    border: 2px solid white;
}

.dark-theme .round-track-bar .avatar {
    border: 2px solid #363739;
}

.round-track-bar .avatar.has-avatar, .card-owner .avatar.has-avatar {
    background-color: white !important;
}

.dark-theme .round-track-bar .avatar.has-avatar, .dark-theme .card-owner .avatar.has-avatar {
    background-color: #363739 !important;
}

.round-track-bar .avatar.has-avatar {
    border: 1px solid white;
}

.dark-theme .round-track-bar .avatar.has-avatar {
    border: 1px solid #363739 !important;
}

.change-avatar-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3px;
    color: #000000;
    opacity: 0.7;
    cursor: pointer;
    background-color: white;
    display: none;
}

.dark-theme .change-avatar-icon {
    background-color: #363739;
    color: #e2dede;
}

.player-avatar-section:hover .change-avatar-icon, .player-avatar-section:focus .change-avatar-icon {
    display: block;
}

.game-board.teamsLocked .join-button {
    display: none;
}

.game-board.teamsLocked .spectators.empty {
    display: none;
}

.player-name {
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding-left: 6px;
    text-overflow: ellipsis;
}

.popup_modals .modal_buttons .btn.btn_pmry {
    background-color: #8dbf68 !important;;
}

.popup_modals .modal_buttons .btn.btn_sdry {
    background-color: #7f8c8d !important;
}

.panel {
    box-shadow: 0 0 4px 1px #969696;
    background: white;
}

.dark-theme .panel {
    box-shadow: 0 0 4px 1px #050505;
    background: #363739;
}

a {
    color: black;
}

.dark-theme a {
    color: #cccaca;
}

.panel-accent {
    background: #dde8d4;
}

.dark-theme .panel-accent {
    background: #4c4c4c;
}

.words {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    gap: 25px;
}

.word {
    display: flex;
    height: 140px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Bad Script', cursive;
    letter-spacing: 0.5px;
    font-size: 40px;
    position: relative;
}

.word-box {
    /*     border: 1px solid #ddd; */
    /* border-radius: 4px; */
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: default;
    background: rgba(222, 197, 179, 0.81);
    background: url(https://image.freepik.com/free-photo/background-crumpled-paper-sheet_1194-7545.jpg);
    color: #444;
    box-shadow: 0 0 0 20px rgba(255, 252, 245, 0);
    transition: box-shadow 0.5s ease-out;
    }
    
        .word-box:before, .word-box:after {
          content: ""; height: 2px;
          position: absolute;
          left: 0;
          right: 0;
          clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
        }
        .word-box:before {
          background-color: black;
          top: 0;
        }
        .word-box:after {
          background-color: white;
          bottom: -2px;
        }

.word-box span {
    flex: 1 0 0;
    user-select: none;
    line-height: 45px;
}


.word.picked .word-box {
    box-shadow: 0 0 0 5px rgba(251, 153, 45, 0.87);
}

.word.correct .word-box {
    box-shadow: 0 0 0 5px rgba(146, 255, 0, 0.65);;
}

.word .avatar {
    width: 41px;
    height: 30px;
    margin: 4px;
}

.card-votes {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hint-input-section {
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    width: 260px;
    /* margin: 7px auto; */
}

.hint-input-section .word {
    margin: 0 auto;
    min-width: calc(0.33 * 760px);
}

.closed-word-result {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.hint-input-section .avatar {
    right: 3px;
    bottom: 3px;
    position: absolute;
}

/* .next-word {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    margin: 11px;
} */

/* .player-vote.stopPlayer .avatar {
    box-shadow: 0 0 8px 1px #ff0000;
} */

.add-command {
    padding: 4px 0;
}

.add-command-button {
    cursor: pointer;
    padding: 5px;
    
}

.add-command-button .material-icons {
    font-size: 34px;
}

input#command-input {
    border: 1px solid #b5b3b3;
    padding: 2px;
}

.dark-theme #command-input {
    background: #797979;
    border: 1px solid #b5b3b3;
    color: gainsboro;
}

.ready-button {
    display: inline-block;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.ban-hint-button, .set-like-button {
    color: #363739;
    cursor: pointer;
    padding: 5px;
}

.ban-hint-button .material-icons {
    font-size: 32px;
}

.player.offline {
    color: #7c7c7c;
}


.card {
    height: 140px;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: #444;
}

.status-bar .card {
    max-width: 250px;
}

.card.hint {
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    line-height: 40px;
    background: url(/just-one/crumpled.jpg);
    padding: 5px;
}

.card {
    box-shadow: 0 0 4px 1px #969696;
}

.dark-theme .card {
    box-shadow: none;
}

.dark-theme .card.hint:before, .card.hint:after {
    content: ""; height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
}
.dark-theme .card:before {
    background-color: black;
    top: 0;
}
.dark-theme .card:after {
    background-color: white;
    bottom: -2px;
}

.card.closed-word {
    background: white;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    border: 7px solid darkcyan;
}

.card.closed-word.mistake {
    text-decoration: line-through;
    border-color: darkred;
    opacity: 0.8;
}


.score-change {
    color: green;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    padding-left: 6px;
}

.card.banned .ban-hint-button {
    color: #c14646;
}

.card.banned {
    text-decoration: line-through;
    color: #444;
    opacity: 0.7;
}

.card .bl-corner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
}

.card .br-corner {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.card .tr-corner {
    position: absolute;
    right: 0px;
    top: 0px;
}

.card .tl-corner {
    position: absolute;
    left: 0px;
    top: 0px;
}

.card #hint-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    font-family: 'Bad Script', sans-serif;
    font-size: 40px;
    color: #444;
    width: calc(100% - 2 * 5px);
    height: 52px;
}

.card #closed-word-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    color: #444;
    width: calc(100% - 2 * 5px);
}