.dark-theme .host-controls {
    background: rgba(54, 55, 57, 0.78);
    box-shadow: 0 0 4px 1px #050505;
}

body.dark-theme {
    color: #cccaca;
    background: #202020;
}

.spacer {
    flex-grow: 1;
}

.aligner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-list {
    text-align: center;
}

.player {
    filter: drop-shadow(0px 0px 2px #969696);
}

.dark-theme .player {
    filter: drop-shadow(0px 0px 2px #050505);
}

.player.ready {
    filter: drop-shadow(0px 0px 3px #7ace5a);
}
.player.master {
    filter: drop-shadow(0px 0px 3px cyan);
    color: #00bdbd;
}


.spectator.self, .player.self {
    font-weight: bold;
}

.player.current:before {
    content: "➜ ";
    line-height: 0;
}

.player.offline {
    color: #adadad;
}

.teamsLocked .spectators {
    cursor: default;
}

.host-controls {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    cursor: default;
    text-align: right;
    z-index: 1;
    box-shadow: 0 0 4px 1px #969696;
}

.game-board {
    justify-content: space-around;
    height: 100%;
    user-select: none;
}

.player-host-controls {
    display: none;
}

.player:hover .player-host-controls, .player:focus .player-host-controls {
    display: inline-block;
}

.spectator:hover .player-host-controls, .spectator:focus .player-host-controls {
    display: inline-block;
}

.player .host-button, .command .host-button, .spectator .host-button {
    font-size: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.player .score {
    border: 2px solid;
    display: inline-flex;
    margin-right: 11px;
    padding: 0px 4px;
    line-height: 16px;
    align-items: center;
    border-radius: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

.kicked {
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

body {
    color:#444;
    margin: 0;
    background: #202020;
    -webkit-user-drag: none;
}

@media (min-width: 768px) and (max-width: 959px) {
}

@media (max-width: 767px) {
}

.captcha-solved #captcha-container {
    display: none;
}

.little-controls input {
    width: 39px;
    background: transparent;
    border: 1px solid;
    color: #cccaca;
    padding: 2px;
    margin: 3px;
}

.start-game-buttons div {
    display: inline-block;
    padding: 17px;
}

.little-controls div {
    display: inline-block;
}

.settings-button {
    cursor: pointer;
}

.settings-button:hover {
    background: #f4e2e0;
}

.dark-theme .settings-button:hover {
    background: #363739;
}

.level-selected {
    background: #f9e7e5;
}

.dark-theme .level-selected {
    background: #484848;
}

.little-controls input {
    color: black;
}

.dark-theme .little-controls input {
    color: #cccaca;
}

.start-game-buttons i, .custom-game-button i {
    vertical-align: bottom;
    margin-right: 3px;
}

.little-controls i {
    vertical-align: middle;
    margin-right: 2px;
}

.side-buttons {
    display: none;
}

.host-controls:hover .side-buttons, .host-controls:focus .side-buttons {
    display: inline-block;
}

.start-game-title {
    text-align: center;
    padding: 7px;
    border-top: 1px solid;
    margin-top: 4px;
    padding-bottom: 3px;
}

.little-controls {
    text-align: left;
    border-bottom: 1px solid;
    padding-bottom: 6px;
    height: 25px;
}

.side-buttons * {
    margin-right: 2px;
}

.game-settings .value {
    vertical-align: middle;
    padding: 4.5px 0;
    padding-right: 27px;
    display: inline-block;
}

.host-controls-menu {
    display: none;
    margin-bottom: 9px;
}

.host-controls:hover .host-controls-menu, .host-controls:focus .host-controls-menu {
    display: block;
}

.start-game-buttons {
    color: gray;
}

.start-game-buttons .settings-button {
    color: black;
}

.dark-theme .start-game-buttons {
    color: #909090;
}

.dark-theme .start-game-buttons .settings-button {
    color: #cccaca;
}

.settings-hover-button {
    padding: 2px;
}

.main-row {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.main-row.many-players {
    max-width: none;
}

.status-bar-wrap {margin: 40px 0;}

.status-bar {
    background: rgba(255, 252, 245, 0.58);
    /* padding: 8px; */
    display: flex;
    flex-direction: column;
    height: 225px;
    /* overflow: hidden; */
    box-shadow: 0 0 4px 1px #969696;
    text-align: center;
    position: relative;
}

.dark-theme .status-bar {
    background: #363739;
    box-shadow: 0 0 4px 1px #050505;
}

.status-bar .title {
    font-size: 34px;
    padding: 0 25px;
    position: relative;
}

.status-bar .subtitle {
    line-height: 28px;
    padding: 0 64px;
    padding-bottom: 10px;
    position: relative;
}

.hint-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.hint-form .hint-cont {
    filter: drop-shadow(0px 0px 2px #969696);
}

.dark-theme .hint-form .hint-cont {
    filter: drop-shadow(0px 0px 2px #050505);
}

.master-target {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.master-target .master-avatar {
    position: absolute;
    bottom: 13px;
    left: 13px;
    filter: drop-shadow(0px 0px 2px #050505 );
}

.avatar-arrow {
    filter: drop-shadow(0px 0px 2px #969696 );
}

.dark-theme .avatar-arrow {
    filter: drop-shadow(0px 0px 2px #050505 );
}

.avatar-arrow .avatar {
}

.closed-word {
    height: 140px;
    width: 260px;
    background: white;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.closed-word.mistake {
    text-decoration: line-through;
    border-color: darkred;
    opacity: 0.8;
}

#timer-progress-bar {
    background-color: #82ec5a;
    height: 5px;
    width: 100%;
    transition: width 1s linear;
}

.dark-theme #timer-progress-bar {
    background-color: #61984f;
}

.join-button {
    cursor: pointer;
}

.join-button .player-name {
    text-decoration: underline;
}

.spectator-placeholder {
    height: 42px;
}

.spectators-section {
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.dark-theme .spectators {
    background: rgba(63, 63, 62, 0.78);
}

.spectators {
    /* display: inline-block; */
    height: 20px;
    padding: 4px 6px;
    cursor: pointer;
    background: rgba(255, 252, 245, 0.58);
    user-select: none;
    white-space: nowrap;
    margin-left: 5px;
    line-height: 20px;
}

.desk-cards-section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#avatar-input {
    display: none;
}

.player {
    white-space: nowrap;
    user-select: none;
    display: inline-flex;
    margin: 6px 1px;
}


.player-inner {
    background: white;
    height: 32px;
    /* align-items: center; */
    /* border: 2px solid #969696; */
    overflow: hidden;
    clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0 100%, 10px 50%);
    /* display: inline-flex; */
}

.dark-theme .player-inner {
    background: #363739;
}

.player.ready {
    border-color: #97c377;
}

.avatar {
    background-size: cover;
    background-position: center;
    /* border-radius: 25px; */
    background-repeat: no-repeat;
}

.player-win .avatar {
    position: absolute;
    right: 2px;
    zoom: 7;
    top: 0;
    height: 100%;
    opacity: 0.5;
    background-color: rgb(0 0 0 / 38%) !important;
}

.dark-theme .avatar {
    color: #fcfcfc;
}

.player .avatar {
}


.player-avatar-section {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.dark-theme .player-avatar-section {
    background: #363739;
}

.player-name-section {
    display: inline-flex;
    width: 147px;
    text-align: left;
    align-items: center;
    height: 100%;
    vertical-align: middle;
}

.avatar {
    width: 44px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, calc(100% - 10px) 0%, 100% 50%, calc(100% - 10px) 100%, 0 100%, 10px 50%);
}

.avatar-stub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-track-bar .avatar {
    width: 42px;
    height: 42px;
    border: 2px solid white;
}

.dark-theme .round-track-bar .avatar {
    border: 2px solid #363739;
}

.round-track-bar .avatar.has-avatar, .card-owner .avatar.has-avatar {
    background-color: white !important;
}

.dark-theme .round-track-bar .avatar.has-avatar, .dark-theme .card-owner .avatar.has-avatar {
    background-color: #363739 !important;
}

.round-track-bar .avatar.has-avatar {
    border: 1px solid white;
}

.dark-theme .round-track-bar .avatar.has-avatar {
    border: 1px solid #363739 !important;
}

.change-avatar-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3px;
    color: #000000;
    opacity: 0.7;
    cursor: pointer;
    background-color: white;
    display: none;
}

.dark-theme .change-avatar-icon {
    background-color: #363739;
    color: #e2dede;
}

.player-avatar-section:hover .change-avatar-icon, .player-avatar-section:focus .change-avatar-icon {
    display: block;
}

.game-board.teamsLocked .join-button {
    display: none;
}

.game-board.teamsLocked .spectators.empty {
    display: none;
}

.player-name {
    overflow: hidden;
    display: inline-block;
    margin: 0;
    padding-left: 6px;
    text-overflow: ellipsis;
}

.popup_modals .modal_buttons .btn.btn_pmry {
    background-color: #8dbf68 !important;;
}

.popup_modals .modal_buttons .btn.btn_sdry {
    background-color: #7f8c8d !important;
}

.panel {
    box-shadow: 0 0 4px 1px #969696;
    background: white;
}

.dark-theme .panel {
    box-shadow: 0 0 4px 1px #050505;
    background: #363739;
}

a {
    color: black;
}

.dark-theme a {
    color: #cccaca;
}

.panel-accent {
    background: #dde8d4;
}

.dark-theme .panel-accent {
    background: #4c4c4c;
}

.dark-theme .words {
    filter: drop-shadow(0px 0px 2px #050505);
}

.words {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(210px, 1fr));
    gap: 25px;
    filter: drop-shadow(0px 0px 2px #969696);
}

.word {
    display: flex;
    height: 140px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Bad Script', cursive;
    letter-spacing: 0.5px;
    font-size: 40px;
    position: relative;
}

.word .avatar {
    width: 41px;
    height: 30px;
    margin: 4px;
}

.card-votes {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hint-input-section {
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    width: 260px;
    /* margin: 7px auto; */
}

.hint-input-section .word {
    margin: 0 auto;
    min-width: calc(0.33 * 760px);
}

.closed-word-result {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.hint-input-section .avatar {
    right: 3px;
    bottom: 3px;
    position: absolute;
}

/* .next-word {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    margin: 11px;
} */

/* .player-vote.stopPlayer .avatar {
    box-shadow: 0 0 8px 1px #ff0000;
} */

.add-command {
    padding: 4px 0;
}

.add-command-button {
    cursor: pointer;
    padding: 5px;

}

.add-command-button .material-icons {
    font-size: 34px;
}

input#command-input {
    border: 1px solid #b5b3b3;
    padding: 2px;
}

.dark-theme #command-input {
    background: #797979;
    border: 1px solid #b5b3b3;
    color: gainsboro;
}

.ready-button, .accept-button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 9px;
}

.accept-button {
    right: 52px;
    bottom: 5px;
    display: flex;
    align-items: center;
}

.ready-button i {
    font-size: 40px;
}

.accept-button i {
    font-size: 30px;
    margin-left: 10px;
}

.playerAccepted i {
    color: #61984f;
}

.ready-button.isReady {
    color: #61984f;
}

.ban-hint-button, .set-like-button {
    color: #363739;
    cursor: pointer;
    padding: 5px;
}

.set-like-button {
    color: #f939a1;
}

.ban-hint-button i, .set-like-button i {
    font-size: 31px;
}

.ban-hint-button .material-icons {
    font-size: 32px;
}

.player.offline {
    color: #7c7c7c;
}

.player.offline .player-name {
    text-decoration: line-through;
}

.card {
    height: 140px;
    /* min-width: 220px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    color: #444;
}

.status-bar .card {
    max-width: 250px;
}

.card.hint {
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    line-height: 40px;
    background: url(/just-one/crumpled.jpg);
    padding: 5px;
    background-size: 92%;
}

.card {
    box-shadow: 0 0 4px 1px #969696;
}

.dark-theme .card {
    box-shadow: none;
}

.card.closed-word {
    background: white;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    /*border: 5px solid darkcyan;*/
    outline: 6px solid darkcyan;
    outline-offset: -11px;
    padding: 11px;
}
.card.closed-word.back {
    background: #192222;
}

.card.closed-word.mistake {
    text-decoration: line-through;
    outline-color: darkred;
    opacity: 0.8;
}

.score-change {
    color: green;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 28px;
    padding-left: 6px;
}

.card.closed-word .score-change {
    margin: 8px;
}

.card.banned .ban-hint-button {
    color: #c14646;
    display: flex;
}

.card.banned {
    color: #444;
    opacity: 0.7;
}

.card .hint-text {
    position: relative;
}

.card.banned .hint-text:after {
    border-top: 2px solid #000;
    position: absolute;
    content: "";
    right: 0;
    top: 54%;
    left: 0;
}

.card .bl-corner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 5px;
}

.card.closed-word .bl-corner, .card.closed-word .br-corner {
    margin: 8px;
}

.card .br-corner {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.card .tr-corner {
    position: absolute;
    right: 0px;
    top: 0px;
}

.card .tl-corner {
    position: absolute;
    left: 0px;
    top: 0px;
}

.card #hint-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    font-family: 'Bad Script', sans-serif;
    font-size: 40px;
    color: #444;
    width: calc(100% - 2 * 5px);
    height: 52px;
}

.card #closed-word-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.5px;
    font-size: 32px;
    color: #444;
    width: calc(100% - 2 * 5px);
    text-align: center;
    margin-bottom: -2px;
}

.card .card-logo {
    background: url(/just-one/logo.png);
    background-size: contain;
    width: 100%;
    height: 81%;
    background-position: center;
    background-repeat: no-repeat;
}

.card.hint .card-logo {
    height: 55%;
    background-image: url(/just-one/logo-paper.png);
    opacity: 0.4;
}

.user-audio-marker-elem {
    margin-right: 0;
    margin-left: 4px;
    background: darkcyan;
}

.ban-hint-button .avatar {
    clip-path: polygon(11% 9%, 94% 9%, 58% 86%, 11% 86%);
    margin-right: -15px;
    opacity: 0.5;
}

.ban-hint-button {
    display: flex;
}
